#components-main-layout{
  .logo {
    background: #FFFFFF;
    text-align: center;
    height: 65px;
    img{
      height: 94%;
    }
  }

  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 16px;
    cursor: pointer;
    transition: color .3s;
    &:hover {
      color: #108ee9;
    }
  }

  .ant-layout-sider-collapsed{
     .ant-menu-submenu-title{
      &:after {
        display: none;
      }
    }
    .anticon {
      font-size: 16px;
      margin-left: 8px;
    }
    .nav-text {
      display: none;
    }
  }
  .ant-layout-header{
    padding:0;
  }
}
